@import 'utility';

header.navbar {
    z-index: 100;
    margin-bottom: 2rem;
}
nav {
    display: grid;
    grid-template-columns: 200px auto;
    padding: 1rem;
    max-width: 1000px;
    align-items: center;
    margin: auto;
    @media (max-width: $layout-breakpoint-small) {
        max-width: 800px;
      }
    ul {
        display: flex;
        list-style: none;
        gap: 1.4rem;
        justify-self: flex-end;
        margin: 0 0 0 auto;
        li {
            font-size: 1.4rem;
            list-style: none;
        }
        a {
            color: white;
            text-decoration: none;
        }
    }
}
.nav-profile-pic img {
    border-radius: 50%;
    object-fit: cover;
    width: 80px;
}
