@import 'utility';

h1 {
    font-size: 5.25rem;
    font-size: clamp(3.8rem, 10vw, 6rem);
    color: var(--text--headers);
    font-weight: bold;
    line-height: 1.25;
    font-family: soleil,sans-serif;
    @media (max-width: $layout-breakpoint-mobile) {
        line-height: 1.05;
    }
}

h2 {
    // font-size: 4rem;
    font-size: clamp(1.8rem, 6vw, 4rem);
    font-weight: bold;
    line-height: 1.25;
    color: var(--text--headers);
    font-family: soleil,sans-serif;
}
h3 {
    font-size: 3.25rem;
    font-weight: bold;
    line-height: 1.25;
    color: var(--text--headers);
    font-family: soleil,sans-serif;
}

p {
    font-family: soleil,sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--text--offwhite);
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    color: var(--text--offwhite);
}

.highlight {
    background-color: var(--bg-3);
    color: var(--text--offwhite);
    padding: 0.25rem;
}

.subtitle {
    font-size: 1rem;
    font-style: italic;
  }