
:root {
    --bg: #0A091B;
    --bg--blue: #232a3a;
    --text--offwhite: #EDECF9;
    --text--headers: #6B47EB;
  }

$layout-breakpoint-small: 1440px;

.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}


.gap-south-sm {
    margin-bottom: 1.5rem;
}

.gap-south-md {
    margin-bottom: 2.5rem;
}

.gap-south-lg {
    margin-bottom: 4rem;
}

.gap-south-xl {
    margin-bottom: 6.5rem;
}

img {
    max-width: 100%;
    margin: auto;
}

ul li {
    margin-bottom: 1rem;
    &:last-child {
        margin-bottom: 0;
    }
}

