
:root {
    --bg: #0D0B22;
    --bg-2: #150E2A;
    --bg-3: #221745;
    --bg--blue: #232a3a;
    --text--offwhite: #EDECF9;
    --text--headers: #6B47EB;
    --main-cta: #6B47EB;
  }

body {
    font-family: soleil,sans-serif;
    font-weight: 400;
    font-style: normal;
}
$layout-breakpoint-small: 1440px;

.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}


.gap-south-sm {
    margin-bottom: 1.5rem;
}

.gap-south-md {
    margin-bottom: 2.5rem;
}

.gap-south-lg {
    margin-bottom: 4rem;
}

.gap-south-xl {
    margin-bottom: 8rem;
}

img {
    max-width: 100%;
    margin: auto;
}

ul li {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    &:last-child {
        margin-bottom: 0;
    }
}

