/* line 1, ../sass/_content.scss */
body {
  background-color: #ffffff;
  font: 1em "Gilroy";
  line-height: 1.3;
}

@font-face {
  font-family: 'Gilroy';
  src: 'font/Gilroy-Regular.woff';
  font-style: normal;
}
/* line 16, ../sass/_content.scss */
.container {
  width: 900px;
  margin: auto;
}

/* line 21, ../sass/_content.scss */
.scrolly {
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* line 28, ../sass/_content.scss */
section {
  scroll-snap-align: start;
}

/* line 32, ../sass/_content.scss */
h1 {
  font-size: 5.5rem;
}

/* line 36, ../sass/_content.scss */
h2 {
  font-size: 3rem;
}

/* line 40, ../sass/_content.scss */
p {
  font-size: 1.25rem;
  line-height: 1.5;
}
/* line 44, ../sass/_content.scss */
p:not(:last-child) {
  margin-bottom: 1rem;
}

/* line 49, ../sass/_content.scss */
.bold {
  font-weight: bold;
}

/* line 55, ../sass/_content.scss */
.main-header {
  background-color: #121212;
  color: white;
  height: 100vh;
  position: relative;
  text-align: center;
}

/* line 63, ../sass/_content.scss */
.f-vertical-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 72, ../sass/_content.scss */
header {
  position: relative;
  overflow: hidden;
}
/* line 76, ../sass/_content.scss */
header h1 {
  font-size: 5.5rem;
  line-height: 1;
  position: relative;
  opacity: 0;
  transition: 1s opacity 4s ease-out;
}
/* line 84, ../sass/_content.scss */
header h2 {
  font-size: 3rem;
  position: relative;
  opacity: 0;
  transition: 1s opacity 4.5s ease-out;
}

/* line 93, ../sass/_content.scss */
section.is-visible header h1 {
  opacity: 1;
}
/* line 97, ../sass/_content.scss */
section.is-visible header h2 {
  opacity: 1;
}

/* line 102, ../sass/_content.scss */
.profile-picture {
  position: relative;
}

/* line 106, ../sass/_content.scss */
.profile-picture:before {
  content: "";
  background-color: #fff;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transform: translateX(100%) scaleX(0);
  z-index: 1;
  transition: 1s transform 1.5s linear;
}

/* line 119, ../sass/_content.scss */
section.is-visible .profile-picture:before {
  transform: translateX(0%) scaleX(1);
}

/* line 124, ../sass/_content.scss */
.profile-picture {
  overflow: hidden;
}
/* line 126, ../sass/_content.scss */
.profile-picture img {
  transform: scale(1.24);
  transition: 2s transform 1s ease;
  z-index: 2;
  position: relative;
}

/* line 133, ../sass/_content.scss */
.translated-screen2 {
  background: #121212;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 2s transform 1s ease;
  transform: translateX(0%) scaleX(0);
}

/* line 145, ../sass/_content.scss */
section.is-visible .translated-screen2 {
  transform: translateX(0%) scaleX(1);
}
/* line 149, ../sass/_content.scss */
section.is-visible .profile-picture img {
  transform: scale(1);
}
/* line 153, ../sass/_content.scss */
section.is-visible .profile-picture:before {
  transform: translateX(0%) scaleX(1);
}

/* line 160, ../sass/_content.scss */
.gallery {
  background: white;
  position: relative;
  z-index: 2;
}

/* line 166, ../sass/_content.scss */
.gap-south-1 {
  margin-bottom: 1rem;
}

/* line 170, ../sass/_content.scss */
.gap-south-2 {
  margin-bottom: 2rem;
}

/* line 174, ../sass/_content.scss */
.introduction {
  background: #121212;
  color: white;
  position: relative;
  z-index: 2;
}

/* line 181, ../sass/_content.scss */
img {
  max-width: 100%;
  margin: auto;
}

/* line 186, ../sass/_content.scss */
.row-figure {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  height: 100vh;
  align-items: center;
}
