:root {
  --bg: #0D0B22;
  --bg-2: #150E2A;
  --bg-3: #221745;
  --bg--blue: #232a3a;
  --text--offwhite: #EDECF9;
  --text--headers: #6B47EB;
  --main-cta: #6B47EB;
}

body {
  font-family: soleil, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.gap-south-sm {
  margin-bottom: 1.5rem;
}

.gap-south-md {
  margin-bottom: 2.5rem;
}

.gap-south-lg {
  margin-bottom: 4rem;
}

.gap-south-xl {
  margin-bottom: 8rem;
}

img {
  max-width: 100%;
  margin: auto;
}

ul li {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
ul li:last-child {
  margin-bottom: 0;
}

body {
  background-color: var(--bg);
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-variation-settings: "slnt" 0;
  font-size: 48px;
  line-height: 1.3;
  color: white;
}

@keyframes moveDown {
  0% {
    background-position: 50% -420px;
  }
  100% {
    background-position: 50% -30px;
  }
}
@keyframes moveDown2 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
header h1 {
  font-size: clamp(2rem, 10vw, 5.85rem);
  animation: 2s moveDown 0.5s ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  margin-bottom: 0rem;
  background-size: 160%;
  background-position: 50% -420px;
  background-repeat: no-repeat;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
header h2 {
  font-size: 1.75rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
header h2:nth-child(2) {
  opacity: 0;
  transform: translateY(-10px);
  animation: 1.2s moveDown2 2.5s ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
header h2:nth-child(3) {
  opacity: 0;
  transform: translateY(-10px);
  animation: 1.2s moveDown2 3.5s ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
header h2:nth-child(4) {
  opacity: 0;
  transform: translateY(-10px);
  animation: 1.1s moveDown2 4s ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.grid--gallery figure {
  margin-bottom: 1rem;
}
.grid--gallery h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #603AE9;
}
.grid--gallery h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #DADADA;
}

.content {
  --gap: clamp(1rem, 6vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(800px, 100% - var(--gap) * 2);
  --popout: minmax(0, 100px);
  --feature: minmax(0, 200px);
  font-size: 1rem;
  display: grid;
  grid-template-columns: [full-start] var(--full) [feature-start] var(--feature) [popout-start] var(--popout) [content-start] var(--content) [content-end] var(--popout) [popout-end] var(--feature) [feature-end] var(--full) [full-end];
}
@media (max-width: 1440px) {
  .content {
    --popout: minmax(0, 50px);
    --feature: minmax(0, 100px);
  }
}

.content > * {
  grid-column: content;
}

.popout {
  grid-column: popout;
}

.feature {
  grid-column: feature;
}

.full {
  grid-column: full;
}

.work-intro--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 2rem;
}
@media (max-width: 700px) {
  .work-intro--grid {
    grid-template-columns: auto;
    grid-gap: 4rem;
  }
}
.work-intro--grid h2 {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.work-intro--grid h2:after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  margin-top: 1rem;
  background-color: white;
}

/* ---- Debug styles ---- */
.debug {
  position: fixed;
  top: 0;
  left: 0;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100vh;
  z-index: -10;
  opacity: 0.22;
  transition: opacity 200ms ease-out;
}
@media (max-width: 700px) {
  .debug {
    display: none;
  }
}

.debug > * {
  --pseudo-offset: 0.25rem;
  position: relative;
  height: 100vh;
  grid-row: 1/-1;
  border-radius: 0;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%236B47EBFF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.debug > *[class]::before,
.debug > *[class]::after {
  content: var(--column);
  writing-mode: vertical-lr;
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  font-size: 0.8em;
  transform: translateY(-50%);
}

.debug > *::before {
  left: var(--pseudo-offset);
}

.debug > *::after {
  right: var(--pseudo-offset);
}

[id=debug],
[id=debug] + label {
  position: relative;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

[id=debug] {
  margin-block: 2rem;
  margin-inline-start: 1rem;
}

figure.wide {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
figure.wide img {
  margin: 0;
  max-height: 80lvh;
  max-width: none;
}

@keyframes reveal {
  to {
    clip-path: inset(0% 0% 0% 0%);
    opacity: 1;
  }
}
@keyframes blur {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.74;
  }
}
.blur-animation {
  animation: blur 3s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.case-study-link {
  position: absolute;
  visibility: hidden;
  background-color: var(--main-cta);
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  opacity: 0;
  z-index: 20;
  transition: 0.3s all 0.25s ease;
  transform: translateY(-10px);
  will-change: contents;
}

figure.f-vertical-center {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
figure.f-vertical-center:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  top: 0;
  z-index: 10;
  transition: 0.3s opacity ease;
}
figure.f-vertical-center:hover:after {
  opacity: 1;
}
figure.f-vertical-center:hover .case-study-link {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.revealing-image {
  position: relative;
  opacity: 0;
  clip-path: inset(45% 20%);
  animation: reveal 2s linear;
  animation-fill-mode: forwards;
}

@scroll-timeline revealing-image-timeline-1 {
  source: auto;
  start: selector(#revealing-image-1) end 0.5;
  end: selector(#revealing-image-1) end 1;
  scroll-offsets: selector(#revealing-image-1) end 0.5, selector(#revealing-image-1) end 1;
  time-range: 2s;
}
@scroll-timeline revealing-image-timeline-2 {
  source: auto;
  start: selector(#revealing-image-2) end 0.5;
  end: selector(#revealing-image-2) end 1;
  scroll-offsets: selector(#revealing-image-2) end 0.5, selector(#revealing-image-2) end 1;
  time-range: 2s;
}
@scroll-timeline revealing-image-timeline-3 {
  source: auto;
  start: selector(#revealing-image-3) end 0.5;
  end: selector(#revealing-image-3) end 1;
  scroll-offsets: selector(#revealing-image-3) end 0.5, selector(#revealing-image-3) end 1;
  time-range: 2s;
}
#revealing-image-1 {
  animation-timeline: revealing-image-timeline-1;
}

#revealing-image-2 {
  animation-timeline: revealing-image-timeline-2;
}

#revealing-image-3 {
  animation-timeline: revealing-image-timeline-3;
}

.case-study figure {
  background-color: var(--bg-3);
}
.case-study figure p {
  background-color: var(--bg-2);
  padding: 2rem;
  margin-bottom: 2rem;
}

video {
  border-radius: 0.75rem;
  overflow: hidden;
  display: block;
  z-index: 0;
  transition: 0.25s box-shadow 0.25s;
  margin: auto;
  width: 100%;
}

.scaleup {
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.45);
  display: block;
  z-index: 2;
}

.video-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  height: 100px;
  width: 100px;
  background: #6B47EB;
  border-radius: 50%;
}

.video-bg {
  border-radius: 0.75rem;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.video-screenshot {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  z-index: 1;
}

:root {
  --bg: #0D0B22;
  --bg-2: #150E2A;
  --bg-3: #221745;
  --bg--blue: #232a3a;
  --text--offwhite: #EDECF9;
  --text--headers: #6B47EB;
  --main-cta: #6B47EB;
}

body {
  font-family: soleil, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.gap-south-sm {
  margin-bottom: 1.5rem;
}

.gap-south-md {
  margin-bottom: 2.5rem;
}

.gap-south-lg {
  margin-bottom: 4rem;
}

.gap-south-xl {
  margin-bottom: 8rem;
}

img {
  max-width: 100%;
  margin: auto;
}

ul li {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
ul li:last-child {
  margin-bottom: 0;
}

:root {
  --bg: #0D0B22;
  --bg-2: #150E2A;
  --bg-3: #221745;
  --bg--blue: #232a3a;
  --text--offwhite: #EDECF9;
  --text--headers: #6B47EB;
  --main-cta: #6B47EB;
}

body {
  font-family: soleil, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.gap-south-sm {
  margin-bottom: 1.5rem;
}

.gap-south-md {
  margin-bottom: 2.5rem;
}

.gap-south-lg {
  margin-bottom: 4rem;
}

.gap-south-xl {
  margin-bottom: 8rem;
}

img {
  max-width: 100%;
  margin: auto;
}

ul li {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
ul li:last-child {
  margin-bottom: 0;
}

header.navbar {
  z-index: 100;
  margin-bottom: 2rem;
}

nav {
  display: grid;
  grid-template-columns: 200px auto;
  padding: 1rem;
  max-width: 1000px;
  align-items: center;
  margin: auto;
}
@media (max-width: 700px) {
  nav {
    grid-template-columns: 70px auto;
  }
}
@media (max-width: 1440px) {
  nav {
    max-width: 800px;
  }
}
nav ul {
  display: flex;
  list-style: none;
  gap: 1.4rem;
  justify-self: flex-end;
  margin: 0 0 0 auto;
}
@media (max-width: 700px) {
  nav ul {
    gap: 1.8rem;
  }
}
nav ul li {
  font-size: 1.4rem;
  list-style: none;
  margin: 0;
}
@media (max-width: 700px) {
  nav ul li {
    font-size: 1.2rem;
  }
}
nav ul a {
  color: white;
  text-decoration: none;
}

.nav-profile-pic img {
  border-radius: 50%;
  object-fit: cover;
  width: 70px;
}

:root {
  --bg: #0D0B22;
  --bg-2: #150E2A;
  --bg-3: #221745;
  --bg--blue: #232a3a;
  --text--offwhite: #EDECF9;
  --text--headers: #6B47EB;
  --main-cta: #6B47EB;
}

body {
  font-family: soleil, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.gap-south-sm {
  margin-bottom: 1.5rem;
}

.gap-south-md {
  margin-bottom: 2.5rem;
}

.gap-south-lg {
  margin-bottom: 4rem;
}

.gap-south-xl {
  margin-bottom: 8rem;
}

img {
  max-width: 100%;
  margin: auto;
}

ul li {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
ul li:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 5.25rem;
  font-size: clamp(3.8rem, 10vw, 6.85rem);
  color: var(--text--headers);
  font-weight: bold;
  line-height: 1.25;
  font-family: soleil, sans-serif;
}
@media (max-width: 700px) {
  h1 {
    line-height: 1.05;
  }
}

h2 {
  font-size: clamp(1.8rem, 6vw, 4rem);
  font-weight: bold;
  line-height: 1.25;
  color: var(--text--headers);
  font-family: soleil, sans-serif;
}

h3 {
  font-size: 3.25rem;
  font-weight: bold;
  line-height: 1.25;
  color: var(--text--headers);
  font-family: soleil, sans-serif;
}

p {
  font-family: soleil, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--text--offwhite);
}
p:not(:last-child) {
  margin-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  color: var(--text--offwhite);
}

.highlight {
  background-color: var(--bg-3);
  color: var(--text--offwhite);
  padding: 0.25rem;
}

.subtitle {
  font-size: 1rem;
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
